.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.nav-items>ul{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
}
.header img{
    height: 170px;
    width: 150px;
    padding: 0%;
    margin: 0%;
}
.nav-items li{
    padding: 20px;
    margin:10px;
}
.res-container {
    display: flex;
    flex-wrap:wrap;


    
}
.res-card {
    /* margin: 5px;
    width: ;
    height: auto ;
    padding: 0%;
    
    display:inline-block; */
    /* text-align: center; */
    margin: 5px;
    max-width: 400px;
    word-wrap: break-word;
    border: 1px solid black; 
}
/* .search {
    padding: 10px;
} */
 .filter-btn {
    margin: 10px;
    cursor: pointer;
 }
.res-card img{
    width:210px;
    height:190px;
    /* object-fit: cover; */
    /* padding-left: 8px;
    padding-top: 4px; */
    padding: 20px;
    margin:10px;
}
.res-card:hover {
    cursor: pointer;
    border: 2px solid black;
}